:css
  body {
    background-color: #333333;
    padding: 64px;
    margin: 0;
  }

  p {
    color: white;
    font-family: 'Roboto', sans-serif;
  }

%p But now you have a chance. Even now you are setting things in motion that alter the course of the future.
%p So, this is gonna seem weird. But I'm going to need you to post the answer to the next riddle in #general. Do not explain. If someone else has said it, add the answer as a reply inside of a thread. This will be a subliminal signal that something is awry.

= image_tag 'c75ce6b5a5e70cb15a3092a4284e11044781a624.png'
