:css
  body {
    background-color: #333333;
    padding: 64px;
    margin: 0;
  }

  table {
    color: white;
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
  }

  td {
    text-align: left;
    border: 1px solid white;
    padding: 8px;
  }

  th {
    text-align: right;
    padding: 8px;
  }

  p,h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
  }

%h2 Teams

%p Winners are now decided by teams. You can contact your team members now.

%table
  %tr
    %th Venus
    %td Claire Podulka
    %td Quinn Stephens
    %td Kara Carrell
    %td Antonio Garcia
    %td Andrew Horner
    %td Mark Estabrook
  %tr
    %th Mars
    %td Kelly Uher
    %td Amanda Snyder
    %td Alyssa Ramsey
    %td Patrick DiMichele
    %td Matt Kornatz
    %td Eric Boyer
  %tr
    %th Jupiter
    %td MJ Jastrebski
    %td Lora Ferraro
    %td Youjin Lee
    %td Alan Gardner
    %td Gilad Shanan
    %td Pete Brooks
    %td Sam Gensburg
  %tr
    %th Enceladus
    %td Mark Rickmeier
    %td Toun Ogundu
    %td Alex Chen
    %td Vlad Andrijevikj
    %td Cameron Silver
    %td Jason Hanggi
  %tr
    %th Ceres
    %td Rolf Russell
    %td Gayle Silverman
    %td Rex Chekal
    %td Lloyd Philbrook
    %td Liz Vellojin
    %td John Dzak
    %td Elizabeth Murphy
  %tr
    %th Earth
    %td Ellen Brast
    %td John Newfry
    %td Matt Reich
    %td Meara Charnetzki
    %td Danny Maher
    %td Mak Arnautovic
  %tr
    %th Kepler-16b
    %td Patrick Turley
    %td Benedict Wong
    %td Annie Swank
    %td Courtney Shuster
    %td Ed LaFoy
    %td Robin Dunlop
