:css
  body {
    background-color: #333333;
    padding: 64px;
    margin: 0;
  }

  p {
    color: white;
    font-family: 'Roboto', sans-serif;
    max-width: 400px;
  }

%p Welcome to the Resistance.

%p You will need all of the tools that we've developed over the past week together. In the end, I will tell you how to defeat the future.

%p 8D1. 10A13. 11A1. 3D2. 7D5. 6D1. 5D4. 4D1.

%p Tell @hammer that you are ready to achieve victory.

