:css
  body {
    background-color: #333333;
    padding: 64px;
    margin: 0;
  }

  table {
    color: white;
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
  }

  td {
    text-align: right;
    border: 1px solid white;
    padding: 8px;
  }

%table
  %caption Game Leaderboard
  %tr
    %th{scope:"col"} Name
    %th{scope:"col"} Points
    %th{scope:"col"} Story Completion
  %tr
    %td{scope:"row"} Jules
    %td 20,000
    %td 0/5
  %tr
    %td{scope:"row"} Earth
    %td 165
    %td 4/5
  %tr
    %td{scope:"row"} Venus
    %td 157
    %td 4/5
  %tr
    %td{scope:"row"} Kepler-16b
    %td 85
    %td 2/5
  %tr
    %td{scope:"row"} Jupiter
    %td 45
    %td 1/5
  %tr
    %td{scope:"row"} Enceladus
    %td 35
    %td 1/5
  %tr
    %td{scope:"row"} Mars
    %td 0
    %td 0/5
  %tr
    %td{scope:"row"} Ceres
    %td 0
    %td 0/5

/ There is just one true /path
/ Okay, maybe two.
= image_tag 'leaderboard.png', alt: 'visual puzzle'
