:css
  body {
    background-color: #333333;
    padding: 64px;
    margin: 0;
  }

  table {
    color: white;
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
  }

  td {
    text-align: right;
    border: 1px solid white;
    padding: 8px;
  }

%table
  %caption Game Leaderboard
  %tr
    %th{scope:"col"} Name
    %th{scope:"col"} Points
    %th{scope:"col"} Story
    %th{scope:"col"} Secrets
  %tr
    %td{scope:"row"} Jules
    %td 20,000
    %td 0/10
    %td 0/10
  %tr
    %td{scope:"row"} Venus
    %td 392
    %td 8/10
    %td 6/10
  %tr
    %td{scope:"row"} Earth
    %td 365
    %td 8/10
    %td 4/10
  %tr
    %td{scope:"row"} Kepler-16b
    %td 265
    %td 6/10
    %td 5/10
  %tr
    %td{scope:"row"} Jupiter
    %td 165
    %td 4/10
    %td 4/10
  %tr
    %td{scope:"row"} Enceladus
    %td 140
    %td 4/10
    %td 1/10
  %tr
    %td{scope:"row"} Ceres
    %td 115
    %td 4/10
    %td 0/10
  %tr
    %td{scope:"row"} Mars
    %td 65
    %td 2/10
    %td 1/10

/ There is just one true /path
/ Okay, maybe two.
= image_tag 'leaderboard.png', alt: 'visual puzzle'
