:css
  body {
    background-color: #333333;
    padding: 64px;
    margin: 0;
  }

  table {
    color: white;
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
  }

  td {
    text-align: right;
    border: 1px solid white;
    padding: 8px;
  }

%table
  %tr
    %th Name
    %th Points
  %tr
    %td Jules
    %td 1000
  %tr
    %td Kepler-16b
    %td 10
  %tr
    %td Earth
    %td 5
  %tr
    %td Mars
    %td 0
  %tr
    %td Venus
    %td 0
  %tr
    %td Jupiter
    %td 0
  %tr
    %td Ceres
    %td 0
  %tr
    %td Enceladus
    %td 0

/ There is just one true /path
= image_tag 'leaderboard.png'
