:css
  body {
    background-color: #333333;
    padding: 64px;
    margin: 0;
  }

  table {
    color: white;
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
  }

  td {
    text-align: right;
    border: 1px solid white;
    padding: 8px;
  }

%table
  %caption Game Leaderboard
  %tr
    %th{scope:"col"} Name
    %th{scope:"col"} Points
    %th{scope:"col"} Story
    %th{scope:"col"} Secrets
  %tr
    %td{scope:"row"} Jules
    %td 20,000
    %td 0/7
    %td 0/9
  %tr
    %td{scope:"row"} Venus
    %td 282
    %td 6/7
    %td 6/9
  %tr
    %td{scope:"row"} Earth
    %td 270
    %td 6/7
    %td 3/9
  %tr
    %td{scope:"row"} Kepler-16b
    %td 180
    %td 4/7
    %td 4/9
  %tr
    %td{scope:"row"} Enceladus
    %td 140
    %td 4/7
    %td 1/9
  %tr
    %td{scope:"row"} Jupiter
    %td 130
    %td 3/7
    %td 3/9
  %tr
    %td{scope:"row"} Ceres
    %td 115
    %td 4/7
    %td 0/9
  %tr
    %td{scope:"row"} Mars
    %td 60
    %td 2/7
    %td 0/9

/ There is just one true /path
/ Okay, maybe two.
= image_tag 'leaderboard.png', alt: 'visual puzzle'
