:css
  body {
    background-color: #333333;
    padding: 64px;
    margin: 0;
  }

  table {
    color: white;
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
  }

  td {
    text-align: right;
    border: 1px solid white;
    padding: 8px;
  }

%table
  %caption Game Leaderboard
  %tr
    %th{scope:"col"} Name
    %th{scope:"col"} Points
  %tr
    %td{scope:"row"} Jules
    %td 1000
  %tr
    %td{scope:"row"} Kepler-16b
    %td 70
  %tr
    %td{scope:"row"} Earth
    %td 60
  %tr
    %td{scope:"row"} Venus
    %td 50
  %tr
    %td{scope:"row"} Jupiter
    %td 45
  %tr
    %td{scope:"row"} Mars
    %td 0
  %tr
    %td{scope:"row"} Ceres
    %td 0
  %tr
    %td{scope:"row"} Enceladus
    %td 0

/ There is just one true /path
= image_tag 'leaderboard.png', alt: 'visual puzzle'
