:css
  body {
    background-color: #333333;
    padding: 64px;
    margin: 0;
  }

  p {
    color: white;
    font-family: 'Roboto', sans-serif;
    max-width: 400px;
  }

%p We speak in puzzles and through cryptic images because the machines, for all of their "superior" intelligence, just cannot seem to overcome image processing. It's a weird weakness, for sure, but one we must exploit.

%p Take this cipher key.

= image_tag 'cipherkey.jpg'

%p DM @hammer "Superior Intelligence" for points!
