:css
  body {
    background-color: #333333;
    padding: 64px;
    margin: 0;
  }

  p {
    color: white;
    font-family: 'Roboto', sans-serif;
    max-width: 400px;
  }

%p Washington, D.C. 2053.

%p We'd had the machines out there for over two decades at this point. They sent a messenger from Mars. They had determined that they no longer needed humanity. That humans were no longer welcome to Mars, or any other place in the Solar System save Earth and Luna.

%p They said it was for our own safety. They were putting us in a zoo.

%p 13. qb ebobgf qernz bs

= form_tag('/b915d9f6982afd606fdfd6e80322b106524a7312', method: :patch) do
  = password_field_tag :secret
  = submit_tag '➡'

