:css
  body {
    background-color: #333333;
    padding: 64px;
    margin: 0;
  }

  p {
    color: white;
    font-family: 'Roboto', sans-serif;
    max-width: 400px;
  }

%p And before the final pieces are put into place, I've been training you how to get access to the final message. The one that will set all of this straight.

%p 11a

= form_tag('/8adde1eb42e805e3a8233222ceff97952fc3dfb9', method: :patch) do
  = password_field_tag :secret
  = submit_tag '➡'

