:css
  body {
    background-color: #333333;
    padding: 64px;
    margin: 0;
  }

  p {
    color: white;
    font-family: 'Roboto', sans-serif;
    max-width: 400px;
  }

%p Japan. It will be the source of the machInes; I wonder, Perhaps, if we can prevent it.
%p DM @hammer this answer to get points for your team. And save this image for later.
= image_tag 'runes.jpg', alt: 'runes'
