:css
  body {
    background-color: #333333;
    padding: 64px;
    margin: 0;
  }

  p {
    color: white;
    font-family: 'Roboto', sans-serif;
    max-width: 400px;
  }

  a, a:visited, a:hover, a:active {
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  a:hover { text-decoration: none }

%p Okay, okay. You've proven yourself.

%p So, where I'm from, TXI is a very different company. It all started with high minded ideals and good people. That all started to change once we took on a client that wanted to "change the world". Sounds nice in practice.

%p That client grew quickly and we became their primary product partner. Eventually, we were building machines. I know, I know. You're thinking that ancient classic Terminator, right? Well, we didn't build Skynet. We did something far worse.

%p We built machines that could travel to other planets and start to terraform them. The idea was that Earth was doomed and we needed to diversify. However, the work is dangerous and would cost human lives. Unless we could sacrifice the machines...

%p Here, <a href="https://crosswordlabs.com/embed/table-xi-crossword">take this</a>. You'll need it later.

%p DM @hammer "Change the World" for points!
