:css
  body {
    background-color: #333333;
    padding: 64px;
    margin: 0;
  }

  p {
    color: white;
    font-family: 'Roboto', sans-serif;
    max-width: 400px;
  }

%p Hidden messages and hidden messages.

%p You must be wondering what TXI has to do with this. Well, let's just say that a client ask Table XI to build some pretty advanced future tech and Table XI takes the gig. Hopefully, with this minor intervention years before that ask, we can set Table XI off on the right track to avoid that fate.

= image_tag 'sudoku.png'

= form_tag('/sulphur', method: :patch) do
  = text_field_tag :secret
  = submit_tag '➡'

