:css
  body {
    background-color: #333333;
    padding: 64px;
    margin: 0;
  }

  p {
    color: white;
    font-family: 'Roboto', sans-serif;
    max-width: 400px;
  }

%p So, to defeat the super intelligence you just need.. *KRRSST*
%p .
%p .
%p .
%p .
%p .
%p .
%p == END TRANSMISSION ==

%p DM @hammer that you've ended the transmission.

%p (Yes, this is actually the end. Thanks for playing! I hope you enjoyed the game!)
