:css
  body {
    background-color: #333333;
    padding: 64px;
    margin: 0;
  }

  p {
    color: white;
    font-family: 'Roboto', sans-serif;
  }

%p Phew. Glad you got my message. Next, we need to go into the secure place you'd find in a bank.
= form_tag('/secret', method: :patch) do
  = password_field_tag :secret
  = submit_tag '➡'

