:css
  body {
    background-color: #333333;
    padding: 64px;
    margin: 0;
  }

  p {
    color: white;
    font-family: 'Roboto', sans-serif;
  }

%p Greek mythology. What is this? School?
%p You can discuss with your fellow answer seekers in #cerberus.
%p Check back often to see the next steps.
