:css
  body {
    background-color: #333333;
    padding: 64px;
    margin: 0;
  }

  p {
    color: white;
    font-family: 'Roboto', sans-serif;
    max-width: 400px;
  }

%p You'll need your team and ALL of the clues you've found. You may even need to retrace your steps. All just to get a notion of the final clue.

%p ROT5
