:css
  body {
    background-color: #333333;
    padding: 64px;
    margin: 0;
  }

  p {
    color: white;
    font-family: 'Roboto', sans-serif;
    max-width: 400px;
  }

%p Okay. Thursday is the big day and we need to make sure we're all together on this. Let's do a couple of checks to make sure you've got all of the necessary components.

%p _ _ _ _ _ _ _ _

= form_tag('/harmony', method: :patch) do
  = password_field_tag :secret
  = submit_tag '➡'
